* {
    margin: 0;
    padding: 0;
}

body {
    background-color: whitesmoke;
}

.block1 {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cardBlock {
    width: 100%;
    background-color: white;
    border: 2px solid gray;
    margin-bottom: 20px;
    border-radius: 5px;
    font-size: 1.2em;
    overflow: hidden;
}

.cardHeader {
    background-color: rgb(59, 148, 189);
    height: 130px;
    margin-bottom: 60px;
}

.block2 {
    padding: 20px;
}

.block2 h1 {
    margin: 20px 0px;
}

.card-body h2 {
    margin: 20px 0px;
}

.card-body h3 {
    margin: 20px 0px;
}

.card-body p {
    margin: 20px 0px;
}

.Circle {
    border-radius: 50%;
    background-color: white;
    height: 190px;
    padding: 5px;
    margin-top: 20px;
    margin-left: 20px;
}

.Map {
    height: 20px;
}

a {
    color: #3a81e6;
}